[submodule "test/vol"]
	path = test/vol
	# TEMPORARY: pointing at brtnfld/vol-tests support-h5t-complex branch
	# pending upstream PR review. Revert to
	# https://github.com/HDFGroup/vol-tests.git once merged.
	url = https://github.com/brtnfld/vol-tests.git
